<h2  class="page_title">{{title}}</h2>


<div fxLayout="row" class="service-card-container" fxLayout.lt-lg="column" fxLayoutGap="20px" fxLayoutAlign="space-evenly stretch" >
  <div *ngIf="about" fxLayout="column" fxLayoutAlign="center center" fxFlex.lt-lg="100" class="mat-elevation-z4 service-card">
      <h3 class="mat-title">About</h3>
      <p class="mat-subheading-2"  fxFlex>{{about}}</p>
  </div>

  <div *ngIf="website"  fxLayout="column" fxLayoutAlign="center center" fxFlex.lt-lg="100" class="mat-elevation-z4 service-card">
      <h3 class="mat-title">Website</h3>
      <p class="mat-subheading-2"  fxFlex><a href="http://{{website}}" target="_blank">{{website}}</a></p>
  </div>

  <div *ngIf="team" fxLayout="column" fxLayoutAlign="center center" fxFlex.lt-lg="100" class="mat-elevation-z4 service-card">
      <h3 class="mat-title">Team</h3>
      <p class="mat-subheading-2"  fxFlex>{{team}}</p>
  </div>

  <div *ngIf="server_specs" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex.lt-lg="100" class="mat-elevation-z4 service-card">
      <h3 class="mat-title">Server</h3>
      <p class="mat-subheading-2"  fxFlex>{{server_specs}}</p>
  </div>

  <div *ngIf="shared_delegate_status" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex.lt-lg="100" class="mat-elevation-z4 service-card">
      <h3 class="mat-title">Mode</h3>
      <p class="mat-subheading-2"  fxFlex>{{shared_delegate_status }}</p>
  </div>

  <div *ngIf="delegate_fee" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex.lt-lg="100" class="mat-elevation-z4 service-card">
      <h3 class="mat-title">Fee</h3>
      <p class="mat-subheading-2"  fxFlex>{{delegate_fee}} %</p>
  </div>
</div>


<div fxLayout="row wrap">
    <div *ngFor="let dash of dashCard1; let count = index" fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="33.3" fxFlex.lg="33.3" fxFlex.xl="25">
        <cdk-dashcard id="dashcard{{count+1}}" [dashData]="dash"></cdk-dashcard>
    </div>
</div>


<div fxLayout="column"  class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">

  <div fxFlex class="table-component-holder mat-elevation-z4">

    <mat-toolbar class="table-header" style="padding: 5px 20px 0px 20px; color: white; ">
        <mat-form-field floatPlaceholder="never" style=" margin:0;  width: 100%;">
          <input matInput #filter placeholder="Produced Blocks">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
		</mat-toolbar>

		<div class="table-container">

			<mat-table #table id="blocks_found_table" [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc" matSortDisableClear>

        <ng-container matColumnDef="id">
					<mat-header-cell *matHeaderCellDef  mat-sort-header> ID </mat-header-cell>
					<mat-cell id="id{{row.id}}" *matCellDef="let row"> {{row.id | number}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="block_height">
					<mat-header-cell *matHeaderCellDef  mat-sort-header> Block Height </mat-header-cell>
           <mat-cell id="block_height{{row.id}}" *matCellDef="let row">
            <a class="text-primary"  href="http://delegates.xcash.foundation/delegates/round_statistics?data={{row.block_height}}" target="_blank">
               <h3>{{row.block_height | number}}</h3>
             </a>
           </mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

			</mat-table>

      <div class="no-results" [style.display]="dataSource?.renderedData.length == 0 ? '' : 'none'">
        No blocks found.
      </div>

      <mat-paginator #paginator
				[length]="length"
				[pageIndex]="0"
				[pageSize]="25"
				[pageSizeOptions]="[ 25, 50, 100]">
			</mat-paginator>

		</div>

	</div>
</div>
